* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    color: #fff;
}

/* .container {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 100px 50px 20px 70px;
}

.container div {
    border: solid;
} */

.container {
    display: grid;
    grid-template-areas:
        "header menu menu menu"
        "hero hero hero hero"
        "main main empty image"
        "main main empty extra"
        "banner banner banner banner";
}

.header {
    background-color: rgb(18, 18, 63);
    grid-area: header;
    height: 5vh;
}

.menu {
    background-color: rgb(235, 122, 122);
    grid-area: menu;
}

.hero {
    background-color: skyblue;
    grid-area: hero;
    height: 60vh;
}

.main {
    background-color: rgb(18, 18, 63);
    grid-area: main;
    height: 25vh;
}

.empty {
    background-color: white;
    grid-area: empty;
}

.image {
    background-color: rgb(95, 161, 95);
    color: black;
    grid-area: image;
}

.extra {
    background-color: rgb(45, 109, 45);
    grid-area: extra;
}

.banner {
    background-color: rgb(238, 238, 100);
    color: black;
    grid-area: banner;
    height: 10vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .container {
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        "empty";
    }

    .header {
        height: 10vh;
    }

    .menu {
        height: 10vh;
    }

    .hero {

        grid-area: hero;
        height: 20vh;
    }
    
    .main {
        height: 20vh;
    }
    
    .banner {
        height: 15vh;
    }

    .image {
        height: 15vh;
    }
    
    .extra {
        height: 10vh;
    }
    

}