* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alata", sans-serif;
}

.principal_section {
    background: url(../assets/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    font-family: "Josefin Sans", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_list {
    display: flex;
    list-style: none;
    gap: 25px;
    color: white;
}

.hero > div {
    padding: 30px;
    width: 30%;
    border: solid white;
    margin-top: 100px;
    word-wrap: break-word;
}

.hero > div > h1 {
    color: white;
    font-weight: normal;
    font-size: 60px;

}

.main {
    width: 1040px;
    margin: auto;
}

.article_section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px ;
    margin-bottom: 60px;
}

.article_container {
    align-self: end;
    width: 35%;
    margin-left: -150px;
    background-color: #ffff;
    padding: 60px 60px 0 60px;

}

.article_container h2 {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 40px;
}

.gallery_title {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.gallery_title h2 {
    letter-spacing: 3px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
}

.gallery_title button {
    border: solid black;
    padding: 10px 30px;
    border-width: 1px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.gallery_title button:hover {
    box-shadow: inset 0 0 0 1000px black;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40vh 40vh;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.gallery div {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: end;
    cursor: pointer;
}

.gallery div:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
    color: black;
}

.gallery div h3 {
    padding: 20px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    width: 20%;
}



.footer_container {
    background-color: black;
    height: 50px;
    padding: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.div_footer {
    display: flex;
    justify-content: space-between;
}

.social_icons img {

    margin-right: 10px;
}

.nav_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer_container p {
   color: hsl(0, 0%, 41%);
   margin-right: 10px;
   font-family: "Alata", sans-serif;
}

.footer_container2 {
    display: none;
    background-color: black;
    height: 50px;
    padding: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.gallery_title2 {
    display: none;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.earth {
    background: url(../assets/desktop/image-deep-earth.jpg);
}

.arcade {
    background: url(../assets/desktop/image-night-arcade.jpg);
}

.soccer {
    background: url(../assets/desktop/image-soccer-team.jpg);
}

.race {
    background: url(../assets/desktop/image-grid.jpg);
}

.road {
    background: url(../assets/desktop/image-from-above.jpg);
}

.borealis {
    background: url(../assets/desktop/image-pocket-borealis.jpg);
}

.curiosity {
    background: url(../assets/desktop/image-curiosity.jpg);
}

.fisheye {
    background: url(../assets/desktop/image-fisheye.jpg);
}


@media only screen and (max-width: 600px) {
    .principal_section {
        padding: 20px;
        background: url(../assets/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
    }
    
    .nav_list {
        display: none;
    }

    .hero div {
        width: auto;
    }

    .hero div h1 {
        font-size: 42px;
    }

    .main {
        width: 375px;
    }

    .article_section {
        flex-direction: column;
        align-items: center;
    }

    .article_section > div > img {
        width: 340px;
    }

    .article_container {
        margin-left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .article_container h2 {
        font-size: 32px;
        padding-bottom: 20px;
    }

    .article_container p {
        width: 340px;
        margin: auto;
    }

    .gallery_title {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .gallery_title button {
        display: none;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 15vh);
        margin: 20px;
    }

    .gallery div h3 {
        font-size: 26px;
        width: 50%;
    }

    .gallery_title2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .gallery_title2 h2 {
        display: none;
    }

    .gallery_title2 button {
        border: solid black;
        padding: 10px 30px;
        border-width: 1px;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
        background-color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .footer_container {
        display: none;
    }

    .footer_container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
        height: 50vh;
    }
    
    .div_footer2 {
        text-align: center; /* Center the content horizontally */
    }
    
    .nav_footer2 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .nav_list2 {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 25px;
        color: white;
        flex-direction: column;
    }
    
    .social_icons2 {
        display: flex; /* Display images in a row */
        justify-content: center;
        margin-top: 20px;
        gap: 20px; /* Adjust the gap between the images */
    }
    
    .footer_container2 p {
        margin-top: 20px;
        color: hsl(0, 0%, 41%);
        font-family: "Alata", sans-serif;
    }

    .earth {
        background: url(../assets/mobile/image-deep-earth.jpg);
    }
    
    .arcade {
        background: url(../assets/mobile/image-night-arcade.jpg);
    }
    
    .soccer {
        background: url(../assets/mobile/image-soccer-team.jpg);
    }
    
    .race {
        background: url(../assets/mobile/image-grid.jpg);
    }
    
    .road {
        background: url(../assets/mobile/image-from-above.jpg);
    }
    
    .borealis {
        background: url(../assets/mobile/image-pocket-borealis.jpg);
    }
    
    .curiosity {
        background: url(../assets/mobile/image-curiosity.jpg);
    }
    
    .fisheye {
        background: url(../assets/mobile/image-fisheye.jpg);
    }
}